//////////////////////////////////////////////////////////////////////////////
// In this file you can override any default bootstrap styles
//////////////////////////////////////////////////////////////////////////////
@mixin input-borders() {
  border: 1px solid #a5a5a5;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

@mixin input-shadow() {
  @include single-box-shadow(#bbb, 1px, 1px, 3px, 0px, true);
}

//////////////////////////////////////////////////////////////////////////////
// Buttons
.btn { width: auto !important; }

//////////////////////////////////////////////////////////////////////////////
// Breadcrumbs
.breadcrumb {
  background: asset-url("rs_common/icon-home.png", image) no-repeat 0 1px;
  padding: 0 0 0 20px;
  border: 0;
  @include box-shadow(none);

  li { margin: 0; }
}

//////////////////////////////////////////////////////////////////////////////
// Form controls

form label {
  cursor: hand;
  cursor: pointer;
  font-weight: normal;
  @include inline-block;
  @include clearfix;
}

// Allow us to put symbols and text within the input field for a cleaner look
.input-append,
.input-prepend {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .uneditable-input {
    @include border-radius(4px 0 0 4px);;
  }

  .add-on {
    padding: 6px 8px;
    background-color: #fff;
    @include single-box-shadow(#bbb, 0, 1px, 3px, 0px, true);
    @include input-borders;
    &:last-child { @include border-radius(0 4px 4px 0); }

    // Setup Font Awesome icon size
    i {
      font-size: 120%;
    }
  }
}

// Shared size and type resets
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  @include border-radius($inputBorderRadius);
  @include input-shadow;
  @include input-borders;
  @include box-sizing(border-box);
  background: #fff asset-url("rs_common/input-bg.gif", image);
  outline: none;
  display: inline-block;
  height: 34px;      //$baseLineHeight * 1.9;
  padding: 4px 6px;
  margin-bottom: 0;
  font-size: 17px;   //$baseFontSize * 1.3;
  line-height: 34px; //$baseLineHeight * 1.9;
  color: $gray;
}

// Reset appearance properties for textual inputs and textarea
// Declare width for legacy (can't be on input[type=*] selectors or it's too specific)
input,
textarea {
  width: 100%;
}

// Reset height since textareas have rows
textarea {
  font-weight: normal;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  resize: vertical;
  height: 100px;
}

// Everything else
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  // Focus state
  &:focus {
    @include single-box-shadow(#bbb, 1px, 1px, 3px, 0px, true);
    @include input-borders;
    background: lightgoldenrodyellow !important;
    border: 1px solid #a5a5a5 !important;
    border-right: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    outline: 0;
    outline: thin dotted \9;
  }
}

// Success
.control-group.success {
  @include formFieldState($textColor, #a5a5a5, #fff);

  // Style inputs accordingly
  //.checkbox,
  //.radio,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .uneditable-input {
    @include input-borders;
    @include input-shadow;

    &:focus {
      @include input-borders;
      @include input-shadow;
    }
  }

  .checkbox,
  .radio {
    @include single-box-shadow(none);
  }

  // Give a small background color for input-prepend/-append
  .input-prepend .add-on,
  .input-append .add-on {
    @include input-borders;
  }
}

.form-actions {
  padding: 0;
  background-color: transparent;
  border-top: 0;
}