<%= heading_with_title "Загруженные файлы" %>

<table class="table table-condensed">
  <tr>
    <th>&nbsp;</th>
    <th>Описание</th>
    <th>Вес</th>
    <th>Размеры</th>
    <th>Загружен</th>
  </tr>

  <% @attachments.each do |attachment| %>
    <tr>
      <td><%= attachment(attachment) %></td>
      <td>
        <% if attachment.description? %>
          <%= para(attachment.description) %>
        <% else %>
          &mdash;
        <% end %>
      </td>
      <td><%= number_to_human_size(attachment.size) %></td>
      <td>
        <% if attachment.image? %>
          <%= attachment.width %>&times;<%= attachment.height %>
        <% else %>
          &mdash;
        <% end %>
      </td>
      <td><%= l attachment.created_at, :format => :short %></td>
    </tr>
  <% end %>
</table>

<% content_for :sidebar do %>
  <section>
    <h3>Статистика</h3>

    <p>Всего файлов:&nbsp;<%= @attachments_count %></p>
    <p>Общий размер:&nbsp;<%= number_to_human_size(@attachments_size) %></p>
  </section>
<% end %>

