<%
  # Определяем ширину изображения
  width = options[:thumb_small_image_size].split('x').first.to_i

  # Определяем высоту изображения
  height = options[:thumb_small_image_size].split('x').last.to_i
%>

<div class="rs-attachment" data-multiple="<%= multiple %>">
  <%= builder.simple_fields_for association_name, :validate => true do |x| %>
    <div class="rs-attachment-attach <%= x.object.present? && x.object.persisted? ? 'persisted' : '' %>">
      <% if x.object.persisted? && x.object.errors.empty? && x.object.attach.present? %>
        <% if x.object.image? %>
          <a href="<%= x.object.attach.thumb(options[:thumb_big_image_size]).url %>" role="gallery" title="Оригинальное изображение" style="background-image: url(<%= x.object.attach.thumb(options[:thumb_small_image_size]).url %>); width:<%= width %>px; height: <%= height %>px;">
            <img src="<%= x.object.attach.thumb(options[:thumb_small_image_size]).url %>" alt="" width="<%= width %>" height="<%= height %>">
          </a>
        <% else %>
          <div class="rs-file-thumbnail" style="width:<%= width %>px; height: <%= height %>px;">
            <i class="icon icon-file"></i>
            <span><%= x.object.name %></span>
            <b><%= number_to_human_size(x.object.size) %></b>
          </div>
        <% end %>
      <% end %>

      <div class="rs-attachment-attach-controls">
        <%= x.input :attach, :as => :file %>

        <% if multiple %>
          <%= x.link_to_remove :title => 'Удалить фото?' do %>
            <i class="icon icon-remove-sign"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if multiple %>
    <%= builder.link_to_add association_name, :class => 'btn btn-success' do %>
      <i class="icon icon-plus-sign"></i>&nbsp;Добавить ещё
    <% end %>
  <% end %>
</div>

