form div.rs-attachment {
  list-style: none;
  margin: 0;
  padding: 0;

  div.rs-attachment-attach {
    margin: 0 0 20px 0;

    &.persisted {
      .rs-attachment-attach-controls, img {
        @include inline-block;
      }

      .rs-attachment-attach-controls {
        margin: 0 0 0 20px;
      }

      a[rel=gallery] {
        @include box-shadow(#{inset 0 0 1px rgba(0,0,0,.5), inset 0 2px 0 rgba(255,255,255,.3), inset 0 -1px 0 rgba(0,0,0,.4)});
        @include border-radius(4px);
        @include inline-block;
        position: relative;
        background-repeat:  no-repeat;
        background-position: 50% 50%;

        img {
          @include opacity(0);
        }
      }

      .rs-file-thumbnail {
        @include border-radius(4px);
        background: #ddd;
        @include inline-block;
        position: relative;

        i.icon {
          font-size: 50px;
          color: #aaa;
          line-height: 40px;
          display: block;
          margin: 10px 0 0 10px;
        }

        span, b {
          display: block;
          font-weight: normal;
          font-size: 85%;
          margin: 0 0 0 10px;
        }

        span { font-weight: bold; }
      }
    }
  }
}