<%= raw(render_crumbs({
  :format          => :html_list,
  :active_li_class => :current,
  :ul_class        => :breadcrumb,
  :skip_if_blank   => true,
  :separator       => raw('<li class="divider">/</li>')
}))%>