<%= simple_nested_form_for(@tweet) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :message %>

    <h3>Images</h3>
    <%= f.attachments :images %>

    <h3>Avatar</h3>
    <%= f.attachment :avatar %>

    <h3>Author</h3>
    <%= f.fields_for :author do |x| %>
      <%= x.input :name %>
      <%= x.attachment :photo %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>