<%= heading_with_title "Список Tweets" %>

<% if @tweets.any? %>
  <ul id="tweets-list">
  <% @tweets.each do |tweet| %>
      <li><%= link_to tweet, tweet %></li>
    <% end %>
  </ul>
<% else %>
  <p>Тут ещё ничего нет.</p>
<% end %>