<div id="tweet">
  <%= heading_with_title "Tweet" %>
  <%= para @tweet.message %>

  <h3>Images</h3>
  <% if @tweet.images.any? %>
    <div class="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
      <% @tweet.images.each do |image| %>
        <a href="<%= image.attach.url %>" rel="gallery" title="Оригинальное изображение">
          <%= image_tag image.attach.thumb('100x100#').url %>
        </a>
      <% end %>
    </div>
  <% end %>

  <h3>Avatar</h3>
  <% if @tweet.avatar.present? %>
    <a href="<%= @tweet.avatar.attach.url %>" rel="gallery" title="Оригинальное изображение">
      <%= image_tag @tweet.avatar.attach.thumb('100x100#').url %>
    </a>
  <% end %>

  <h3>Author</h3>
  <% if @tweet.author.present? && @tweet.author.photo.present? %>
    <p><%= @tweet.author.name %></p>
    <p>
      <a href="<%= @tweet.author.photo.attach.url %>" rel="gallery" title="Оригинальное изображение">
        <%= image_tag @tweet.author.photo.attach.thumb('100x100#').url %>
      </a>
    </p>
  <% end %>
</div>