////////////////////////////////////////////////////////////////////////
// Simple Form styles

form.simple_form {
  // Radio buttons & checkboxes (TB)
  .radio input[type="radio"], .checkbox input[type="checkbox"] {
      float: left;
      margin-left: -18px;
  }

  input[type="radio"], input[type="checkbox"] {
    margin: 3px 0 0;
  }

  div.check_boxes, div.radio_buttons {
    div.controls {
      label {
        display: block;
      }
    }
  }

  //.radio, .checkbox { padding-left: 5px; }

  //div.checkbox {
  //  label.checkbox {
  //    input { vertical-align: middle }
  //  }
  //}

  div.input {
    margin: 0 0 7px 0;
  }

  div.datetime {
    select {
      width: 100px;
    }
  }

  span.hint {
    color: $textColor;
    font-size: 90%;
  }

  // Form heading
  h3 {
    margin: 20px 0 10px 0;
  }

  // Datepicker, Tel, Url, Email inputs
  input.datepicker,
  input.tel,
  input.url,
  input.email,
  input.password {
    width: 220px;
  }

  // For customized file inputs
  div.file {
    input[type="file"] {
      display: none;
    }

    div.dummyfile input[type="text"] {
      width: 220px;
      display: inline;
    }

    .btn { padding: 6px 15px; }
  }

  // Hints
  div.controls p.help-block { font-size: 90%; margin: 0; }

  // Abbr
  abbr { color: #999; }

  // Form errors styling
  .field_with_errors {
    input.required, textarea {
      border: 1px solid #BF1F1F;
    }

    span.error {
      color: #BF1F1F;
      padding: 0 0 0 7px;
      display: block;
    }
  }

  div#form-errors {
    background: #FFF7DC;
    @include border-radius(7px);
    padding: 15px;

    ol { padding-bottom: 0; }
  }
}

time.utc-date, time.date {
  font-size: 90%;
  color: #999;
}

///////////////////////////////////////////////////////////////////
// Styles for flash messages
ul#flash-messages {
  @include border-radius(0 0 7px 7px);
  @include single-box-shadow(#000, 1px, 1px, 10px, 1px);
  @include opacity(0.8);
  z-index: 66000;
  font-family: 'Ubuntu Condensed', Arial, sans-serif;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -350px;
  width: 700px;
  background: #333;
  list-style: none;

  li {
    margin: 0 25px;
    padding: 25px;
    color: #fff;
    font-size: 120%;
    position: relative;
    text-align: center;

    &#flash-alert {
      background: asset-url("icons/32x32/alert.png", image) no-repeat 0 50%;
    }

    &#flash-notice {
      background: asset-url("icons/32x32/notice.png", image) no-repeat 0 50%;
    }

    a {
      color: #fff;
      display: inline-block;
      font-family: Arial, sans-serif;
      font-size: 200%;
      left: 625px;
      top: 20px;
      padding: 5px;
      position: absolute;
      text-decoration: none;

      &:hover {
        color: maroon;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////
// Form images
.images {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 0 20px 0;

  .image {
    overflow: hidden;

    &.has-image img { float: left; } 
    &.has-image div.control-group { margin-left: 130px; }
  }
}

////////////////////////////////////////////////////////////////////////
// Ul lists within forms
form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

////////////////////////////////////////////////////////////////////////
// Definition lists

#container {
  dl {
    border-bottom: 1px solid #eee;
    overflow: hidden;

    dd {
      border-top: 1px solid #eee;
      margin-left: 230px;
      padding: 5px;

      p {
        margin: 0 0 0.3em 0;
        font-size: 13px !important;
      }
    }

    dt {
      clear: left;
      float: left;
      width: 220px;
      margin: 0;
      padding: 5px;
      border-top: 1px solid #eee;
      font-weight: bold;
    }
  }
}